
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row" *ngFor="let category of catrgoryResult.categories">
          <div class="row">
            <div class="col-md-5"> {{category.name}}</div>
            <div class="col-md-4"> {{category.totalValue | currency:'USD':'symbol':'1.0'}}</div>
          </div>
          <div class="row" style="margin-left: 5px;" *ngFor="let item of category.categoryItems">
            <div class="col-md-5"> {{item.name}}</div>
            <div class="col-md-2">{{item.value | currency:'USD':'symbol':'1.0'}}</div>
            <div class="col-md-2">
              <fa-icon [icon]="faTrash" style="cursor:pointer;" (click)="remove(item)"></fa-icon>
            </div>
          </div>
        </div>
        <div>
          <div class="row mt-5 mb-3">
            <div class="col-md-5">TOTAL</div>
            <div class="col-md-4">{{catrgoryResult.categoriesTotalValue | currency:'USD':'symbol':'1.0'}}</div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4">
            <input [(ngModel)]="selectedCategoryItem.name" name="name" type="text" class="form-control" placeholder="Item Name"/>
          </div>
          <div class="col-md-3" style="position:relative;">
            <span class="dollar">$</span>
            <input [(ngModel)]="selectedCategoryItem.value" min="0" name="value" type="number" class="form-control" />
          </div>
          <div class="col-md-3 ">
            <select [(ngModel)]="selectedCategoryItem.categoryId" class="form-select" aria-label="Default select example">
              <option [value]="i.categoryId" *ngFor="let i of categoryItems">{{i.name}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <button class="btn-primary btn form-control" (click)="add()"> Add </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
